body{
    margin:0;
    font-family: 'Merriweather', serif;
    text-align:center;
    background-color: #F0FFFF;
    color:#40514E;
}
#navbar{
    position:sticky;
    top:0;
    background-color:#ebfcf9 ;
}
.logo{
    position:absolute;
    left:2rem;
    top:0.6rem;
    vertical-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 2.625rem;
    font-weight: 600;
}
.header-container{
    text-align:right;
    margin:0;  
}
.list-item{
    display:inline-block;
    padding:2%;
}
.top-container{
    background-color: #E4F9F5;
    margin:0;
    padding-top:100px;
    text-align:center;
    position:relative; 
}
.middle-container{
    margin:80px 0;
}
.bottom-container{
    margin-top:30px;
    background-color: #66BFBF;
    padding:20px;
}
h1{
    margin:50px auto 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    color: #66BFBF;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
}

hr{
    border: dotted #dbe6e6 6px;
    border-bottom : none;
    width:5%;
    margin:50px auto;
}
p{
    line-height: 2;
    font-weight:580;
}
.intro{
    width:30%;
    margin:auto;
}
.msg{
    width:40%;
    margin:40px auto 60px;
}
.cloud{
    background-color: #E4F9F5;
}
.top-cloud{
    position:absolute;
    top:40px;
    right:300px;
}
.bottom-cloud{
    position:absolute;
    bottom:300px;
    left:250px;
}
.circle-img{
    border-radius: 100%;
    height:30%;
    width:20%;
}
.under{
    text-decoration: underline;
}
.programmer{
    font-weight: normal;
}
.skill-row{
    width: 50%;
    margin:100px auto;
    text-align:left;
    line-height: 2;
}
.skill-img1,.skill-img2,.skill-img3{
    width:25%;
    height:150px;
}
.skill-img1,.skill-img3{
    float:right;
    height:150px;
    width:30%;
}
.skill-img2{
    float: left;  
    margin-right: 2%;
    width:25%;
    height:150px;  
}

#bottom-para{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding:20px 0;
}
a{
    color:#11999E;
    text-decoration:none; 
}
.footer-link{
    padding:10px;
    margin:40px 20px 10px;
}
a:hover{
    cursor: pointer;
    color:#113e9e;
}
.sticky-bar{
    padding-top: 60px;
}
button {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border:none;
  }
  
button:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.btn{
    color:white;
    font-size:20px;
}
.btn:hover{
    color:white;
}

